<!-- <div style="background-color: blue;"> -->
<div class="img">
  <img class="card-image-top" src="assets/newlogo.png">
</div>

<div class="aboutus">
  <img class="description" src="assets/bk-wall-description.jpg">

  <h1 class="about-us__title">Great Food Comes First</h1>

  <p class="about-us__description">

  Our restaurants are known for serving high-quality, great-tasting, and affordable food. Founded in 1954, BURGER KING® is the second largest fast food hamburger chain in the world with about 18,000 restaurants operating in more than 100 countries and US territories as at June 30, 2019. The original HOME OF THE WHOPPER®, our commitment to ingredients, signature recipes, and end-to-end online Burger King experience for millennials is what has defined our brand for more than 50 years.

 </p>
</div>
<!-- </div> -->
