<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">BurgerKing</h5>
    </li>

  </ul>
  <!-- Call to action -->

  <hr>


  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">© 2020 Copyright

  </div>
  <!-- Copyright -->


